:root {

}

html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  line-height: 1;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body #root {
  height: 100%;
  overflow-y: auto;
}